grant codeBase "file:${{java.ext.dirs}}/*" {
    permission java.security.AllPermission;
};

grant codeBase "file:${user.home}/.m2/repository/-" {
    permission java.security.AllPermission;
};

grant codeBase "file:${test.gradle.user.home}/caches/-" {
    permission java.security.AllPermission;
};

grant codeBase "file:${test.gradle.home}/lib/-" {
    permission java.security.AllPermission;
};

grant codeBase "file:${test.project.dir}/build/-" {
    permission java.security.AllPermission;
};
